
    body {
        background-image: url(g.jpg);
        background-attachment: fixed;}
        
        .info{background-color:rgba(42, 42, 174, 0.56);
        width: 40%;
 border-radius: 90px;
 padding: 50px;
 margin: 60px auto;
 border: 6px solid rgb(156, 156, 156);
    
        }
        .mapc{
           text-align: center;
         
           margin: 0;

        }
                .info h1 {text-align: center;}
                .info h3 {text-align: center;}
                header{background-color: rgba(42, 42, 174, 0.56);
                    display: flex}
                    img{padding: 10px;}
                    a{color: azure;
                        list-style: none;
                        text-decoration: none;
                    }
                    header {
                        background-color: rgba(42, 42, 174, 0.56);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                      }
                      
                      .logo {
                        position: absolute;
                        left: 10px;
                      }
                      
                      .text {
                        flex-grow: 1;
                      }
                      
                      h1, p {
                        color: azure;
                        margin: 0;
                      }
                      
                      h1 {
                        font-size: 50px;
                      }
                      ul{display: flex;
                        background-color:rgba(42, 42, 174, 0.56);    justify-content: space-around;}
                        li{padding: 15px;
                        font-size: 25px;
                        list-style: none;
                        }
                        p{font-size: 30px;}
                        header h1{font-size: 100px; margin: 0;}
                h3{
                    color: azure;
                    font-size: 20px;
                }
                
                
                        .footer-img{
                            text-align: center;
                            margin-left: 50px;
                            padding-top: 20px;
                           
                           }
                           h6{color: azure;
                            font-size: 20px;
                          margin: 0;}
                
                           .footer-text{
                             display: flex;
                             align-items: center;
                               justify-content: space-around;
                               margin: 0;
                               color: azure;
                               
                           }
                           h6{color: azure;
                            font-size: 20px;
                          margin: 0;}
                           footer{
                            background-color: rgb(12, 2, 52);
                   margin-top: 10px;
                           }